.speech-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .bubble-text {
        width: 700px;
        height: 60px;
        background-color: rgb(173, 208, 238);
        border: 8px solid rgb(173, 208, 238);
        border-radius: 20px;
        color: rgb(19, 23, 36);
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 35px;
        font-size: 30px;
    }
    
    .bubble-tail {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid rgb(173, 208, 238);
    }


