.profile-icon {
  display: flex;
  align-items: center;
  padding-right: 50px;

  .person-icon {
    font-size: 40px;
  }

  .username {
    font-size: large;
    font-weight: bold;
    color: #000000;
  }
}
