.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  
    .ball-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }