@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.cosmetic-header {
  color: #000000;
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
