#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.background-default,
.background-overlay {
  padding: 20px;
  padding-left: 40px;
}

.background-overlay {
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.sidebar-and-profile {
  display: flex;
  justify-content: space-between;
}
